
body{
    font-family: 'Taviraj', serif;
    max-width: 100%;
    
}
main{
    display: grid;
    justify-content: center;
    row-gap: 50px;
}
  .container 
{
    width:1000px;
    
}  
.container .live-game
{    width: 1000px;
    padding-left: 50px;
    background-color: black;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    }
 .container .live-game .description{
width:100%;
}
.container .live-game .description h1{
    font-size: 3em;
    color:white;
}
.container .live-game .description p{
    font-weight: 300;
    color: white;
}
.container .live-game .description button{
    border-radius: 10px;
    padding: 15px;
    background-color:yellow;
    font-weight: 700;
}
.live-game .player-image img{
    width:100%;
    height: 100%;   
}

/*--------- Information-section Start -----------*/
/*---game-details-Box---*/
.container .info-section
{
    display: grid;
    grid-template-columns: 300px auto;
    width:100%;
    
    
}
.game-details{
    height:225px;
    width:225px;
    background-color: skyblue;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   
   
}
.game-details a
{
    text-decoration: none;
    font-weight: 300;
    font-size: 1.2em;
    color:black;
}
.game-details .box
{
    display: block;
    background-color: white;
    border-radius: 10px;
    padding-left: 5px;
    width:195px;
    height:50px;
    text-align: center;
}
.game-details .color
{
    background-color: lightpink;
}
/* ---Game Details box end--- */

/*---Matches Class Start---*/

.matches{
    width:100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    row-gap: 20px;
    
}
.matches .match
{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 20px lightgray;
    
    

    
}
.matches .match .thumbnail img
{  width:100%;

}
.matches .match button{
    padding:5px 8px;
}
.matches .match .matches-icon
{
    display: flex;
    column-gap: 10px;
    color: gray;
    font-size: 12px;
    
}

.matches .match .box-described

{
    padding:10px;
}
/*--------- Ending Matches Part ----*/

/*-----------------------Ending Information Section--------------------*/






 

